@media (max-width: 425px) {
  header {
    justify-content: center;
    flex-direction: row;
    padding: 5px;
  }

  .logoAndIcons {
    @include flexbox(column, center, center);
    gap: 8px;
  }

  .socialMedia {
    @include flexbox(row, center, center);
    gap: 8px;
  }

  .navBar ul {
    flex-direction: column;
    font-size: 16px;
    font-weight: bold;
    gap: 10px;
  }

  .navBar ul li {
    margin-left: 0;
  }

  footer {
    padding: 0 3px;
    flex-direction: column;
    height: auto;
    align-items: center;

    .infoEstudio{
    font-size: 14px;
    align-items: center;
    justify-content: center;
    }

    .btnHablemos {
    display: none;
  }
}


.sectionImage {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include flexbox(column, center, center);
    width: auto;
    min-height: auto;

h1 {
      font-size: 24px;
      font-weight: bold;
      padding: 7px;
      text-align: center;
    }

    div a {
      font-size: 16px;
      padding: 5px 15px;
      border: 2px solid white;
    }
  }

  .divDise {
    font-size: 16px;
    padding: 10px;
  }

  .serviciosLanding, .nuestrosServicios {
    @include flexbox(row, center, center);
    padding: 8px;
    margin-left: 5px;

    a {
      font-size: 16px;
      padding: 5px 15px;
      border: 2px solid black;
      width: auto;
      height: auto;
    }
  }

  .enriqueciendoTotal {
    padding: 16px;
    flex-direction: column;
  }

  .enriqueciendo {
    padding: 16px;

    h2 {
      font-size: 20px;
      margin: 0 0 10px;
    }

    p {
      font-size: 16px;
      justify-content: center;
    }
  }

  .enriqueciendoTotal div img {
    margin-top: 10px;
    max-width: 100%;
  }

  .botonesPN {
    gap: 10px;
    padding: 30px;

    a {
      font-size: 16px;
      padding: 5px 15px;
      border: 2px solid black;
      width: auto;
      height: auto;
    }
  }

  .comprometidos h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .comprometidosParent {
    flex-direction: column;

    div {
      width: 100%;
      padding-left: 0;

      p {
        font-size: 16px;
        margin-bottom: 20px;
      }
    }

    img {
      margin: 0 auto;
      padding: 20px 0;
    }
  }

  .serviciosDescripcion {
    padding: 10px;

    p {
      font-size: 16px;
      line-height: 1.2;
    }
  }

  .serviciosIndex {
    grid-template-columns: 1fr;
    grid-template-areas:
      "Servicios1"
      "Servicios2"
      "Servicios3"
      "Servicios4";
    margin-bottom: 15px;
    gap: 15px;

    .Servicios1, .Servicios2, .Servicios3, .Servicios4 {
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
      padding: 10px;
      height: auto;

      img {
        width: 100%;
        height: auto;
        max-width: 280px;
      }
    }
  

    h2 {
      padding: 5px 10px;
      font-size: 18px;
      margin-top: 5px;
    }
  }

  .proximoProyecto, .descrubreS {
    padding: 20px;

    a {
      font-size: 16px;
      margin: 0;
    }

    img {
      width: 10px;
      height: auto;
      align-items: center;
    }
  }

  .projectBackground {
    height: 90vh;
  }

  .projectList {
    width: auto;
    height: auto;
    display: flex;
    text-align: center;
    font-size: 26px;
    position: absolute;
    padding: 25px;
  }

  .seccionPrincipal div img {
    @include centered-img(90%, 0 auto);
}

  .projectDivision {
    @include flexbox(column, center, center);
    gap: 0px;
  }

  .project-info {
    width: 100%;
    margin: 10px;

    p {
      font-size: 16px;
    }
  }

  .project-description {
    margin: 0 0 10px;
    padding: 0 10px;

    p {
      font-size: 16px;
      margin: 10px 20px;
      line-height: 1.6;
    }
  }

  .izquierda img, .derecha img {
    @include centered-img(80%, 20px auto);
  }


  .equipoLanders,
  .arqCoo,
  .restTeam {
      @include flexbox(column, center, center);
      margin: 0;
      gap: 0;
      padding: 0;

      h1 {
          font-size: 24px;
      }

      p {
          font-size: 16px;
          width: 80%;
          padding-bottom: 20px;
          line-height: 1.6;
      }
  }

  .equipoLanders h1 {
    margin-bottom: 10px;
  }
  .arqCoo article,
  .restTeam article {
      width: 100%;
      
      img {
          width: 100%;
          height: auto;
      }

      h2 {
          font-size: 22px;
      }

      p {
          font-size: 16px;
      }
  }
}



// Tablet Styles (426px < w < 768px)
@media (min-width: 426px) and (max-width: 768px) {
  header {
    justify-content: center;
    flex-direction: column;
    padding: 10px 20px;
  }

  .logoAndIcons, .socialMedia {
    @include flexbox(row, null, center);
    gap: 20px;
  }

  .navBar ul {
    font-size: 20px;
    gap: 30px;

    li {
      margin-left: 0;
    }
  }

  footer {
    padding: 0 3px;

    .infoEstudio {
      font-size: 16px;
      align-items: center;
      justify-content: center;
    }

    .btnHablemos {
      padding-bottom: 2px;

      a {
        font-size: 16px;
        padding: 5px 20px;
        border-width: 1px;
      }
    }
  }

  .sectionImage {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include flexbox(column, center, center);
    width: auto;
    min-height: auto;

    h1 {
      font-size: 28px;
      text-align: right;
      padding: 10px;
    }

    div a {
      font-size: 16px;
      padding: 4px 10px;
      border: 2px solid white;
    }
  }

  .divDise {
    font-size: 18px;
    padding: 12px;
  }

  .serviciosLanding {
    @include flexbox(row, center, center);
    padding: 8px;
    margin-left: 7px;
  }

  .nuestrosServicios {
    height: auto;
    padding-top: 15px;

    a {
      @include button-style(16px, 5px);
      width: auto;
      height: auto;
    }
  }

  .enriqueciendoTotal {
    padding: 20px;
    flex-direction: column-reverse;

    div img {
      margin-top: 20px;
    }
  }

  .enriqueciendo {
    padding: 20px;

    h2 {
      font-size: 22px;
      margin: 20px 0 13px;
    }

    p {
      font-size: 18px;
      text-align: justify;
      padding: 0 10px;
      justify-content: center;
    }
  }

  .botonesPN {
    gap: 10px;
    padding: 30px;

    a {
      @include button-style(16px, 8px);
      width: auto;
      height: auto;
    }
  }

  .comprometidos h3 {
    font-size: 24px;
    margin-bottom: 23px;
  }

  .comprometidosParent {
    flex-direction: column;

    div {
      width: 100%;
      padding-left: 0;

      p {
        font-size: 18px;
        margin-bottom: 20px;
      }
    }

    img {
      margin: 0 auto;
      padding: 20px 0;
    }
  }

  .serviciosDescripcion {
    padding: 10px;

    p {
      font-size: 18px;
      line-height: 1.1;
    }
  }

  .serviciosIndex {
    margin-bottom: 15px;

    .Servicios1, .Servicios2, .Servicios3, .Servicios4 {
      width: 100%;
      max-width: 340px;
      margin: 0 auto;
      padding: 10px;
      height: auto;

      img {
        width: 100%;
        height: auto;
        max-width: 3400px;
      }
    }

    h2 {
      padding: 5px 10px;
      font-size: 22px;
      margin-top: 5px;
    }
  }

  .proximoProyecto, .descrubreS{
    padding: 20px;

    a {
      font-size: 18px;
      margin: 0;
    }

    img {
      width: 16px;
      height: auto;
      align-items: center;
    }
  }
  .projectBackground {
    height: 80vh;
  }

  .projectList {
    width: 300px;
    height: auto;
    display: flex;
    margin-left: 20px;
    text-align: center;
    font-size: 28px;
    position:absolute;
    left: 25px;
    padding: 10px;
  }
  .projectDivision {
    @include flexbox(column, center, center);
    gap: 0px;
  }

  .project-info {
    width: 100%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;

    p {
      font-size: 16px;
    }
  }

  .project-description {
    margin: 0 0 10px;
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;

    p {
      font-size: 18px;
      margin: 10px 25px;
      line-height: 1.6;
    }
  }

  .izquierda img, .derecha img {
    @include centered-img(80%, 25px auto);
  }

  .equipoLanders,
    .arqCoo,
    .restTeam {
        @include flexbox(column, center, center);
        gap: 15px;

        h1 {
            font-size: 28px;
        }

        p {
            font-size: 18px;
            width: 80%;
        }
    }

    .arqCoo article,
    .restTeam article {
        width: 100%;
        
        img {
            width: 100%;
            height: auto;
        }

        h2 {
            font-size: 22px;
        }

        p {
            font-size: 18px;
        }
    }
}

// Desktop Styles (w > 769px)
@media (min-width: 769px) {
  .enriqueciendoTotal {
    flex-direction: row;
  }
  .enriqueciendoTotal div img {
    margin-top: 10px;
    max-width: 100%;
  }
}