.seccionPrincipal div img {
    @include centered-img();
}

.projectDivision {
    @include flexbox(row, space-between, center);
    gap: 40px;
    padding-top: 20px;
}

.project-info {
    width: 50%;
    margin: 20px;
    box-sizing: border-box;
    padding: 20px;    

    p {
        margin: 10px;
        line-height: 1.6;
        font-family: "area-extended", sans-serif;
        font-size: 20px;
        }
    }

.project-description {
    box-sizing: border-box;
    padding: 20px;


    p {
        margin: 20px;
        font-family: "area-normal", sans-serif;
        font-size: 20px;
        text-align: justify;
    }
}

.izquierda img {
    @include centered-img(90%, 0 auto 20px);
}

.derecha img {
    @include centered-img(90%, 40px auto 20px);
}

.proximoProyecto, .descrubreS {
    padding: 40px;
    text-align: end;

    a {
        @extend %proximo
    }
    img {
        width: 32px;
        height: auto;
        align-items: center;
    }
}